* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 13, 0);
  color: white;
  text-align: center;
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
.game-name {
  font-family: ALGERIAN;
}
.guess-value {
  margin-top: 30px;
  font-size: 20px;
}
.secret-number {
  margin-top: 30px;
  background-color: white;
  color: black;
  width: 40px;
  height: 20px;
  font-weight: bolder;
  margin-left: 48%;
  font-size: 20px;
}
.message {
  margin-top: 30px;
  font-size: 25px;
  margin-bottom: 30px;
}

.button-size {
  font-size: 20px;
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid white;
}
.ip-filed {
  margin-left: 50px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.score-label,
.highscore-label {
  font-size: 30px;
}
.restart {
  margin-top: 20px;
}
